*{
    box-sizing: border-box;
    background-origin: border-box;
    margin: 0;
}

:root{
    --col-01: rgba(232, 15, 15, 0.953);
    --col-02: lightcoral;
    --col-03: lightpink;
}


#colour-square{
    width: 30vw;
    height: 30vw;
    background-color: #e90606;
    position: absolute;
}

body {
    background: #e90606; 
}

/* Changed the background colour because I felt like it lined up with the colour of raspberries, although you could argue the red could be a bit too bright in some people's opinion. */

p {
    color: black;
    font-family: "fairwater script";
}
       


.adjectives {
    position: absolute;
    left:0%;
    top:0%;
    opacity: 0;
    transition: 2s;
}

.button {
    position: absolute;
    left: 50%;
    top: 0;
    width: 270%;
    height: 80%;
    border: 0;
    outline: none;
    background: #e90606;
}

.lid {
    position: absolute;
    left: 5%;
    top:0;
    animation-name: lid;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left:0%;
        width: 100;
    }
}


.bottle {
    position:relative; 
    left: 0;
    bottom: 3%;
    
}

.pp {
    position: relative;
    left: 0;
    bottom: 5;
}


/* Because I'm using the word adjectives to describe the words that spray out of the perfume bottle, I must utilise this as the starting word to adjust the position and opacity of the words via the style.css.   */

.img {
    border: solid black;
    transform: translate (30%, 20%) rotate (20deg);
    width: 140%;
    height: 60%;
}


/*css animatons*/
.lid {
    animation: reverse-effect 2s;
    -webkit-animation: reverse-effect 2s;
    -moz-animation: reverse-effect 2s;
    -o-animation: reverse-effect 2s;
    -ms-animation: reverse-effect 2s;
    animation-fill-mode: forwards;  
  }
  
  /* reverse the opacity from 0 to 1*/
  @keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @-moz-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @-webkit-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @-o-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @-ms-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.lid {
    border:#e90606;
    transform: translate (2%, 3%) rotate (20deg);
    width: 30%;
    height:30%;
}

.reverse {
    animation: reverse-effect 2s;
    -webkit-animation: reverse-effect 2s;
    -moz-animation: reverse-effect 2s;
    -o-animation: reverse-effect 2s;
    -ms-animation: reverse-effect 2s;
    animation-fill-mode: forwards;
  }

  /* reverse the opacity from 0 to 1/
  @keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-moz-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-webkit-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-o-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @-ms-keyframes reverse-effect {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  / fade the images change opactiy from 1 to 0*/
  
  .lid {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
  }

  @-moz-keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
  }

  @-o-keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
  }

  @-ms-keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
  }



