style.css

*{
    box-sizing: border-box;
    margin: 0;

}

/* I chose the chosen image because I felt like it was my type of style-Japanese manga style. */

:root{
    --colour-one: skyblue;
    --colour-two: pink;
    --colour-three: pink;
    --colour-four: skyblue; 
    --border-one: dashed 2fr white
}

/* I utilised CSS code to provide a colour scheme for the overall exercise. */

/* I also felt like the CSS border style of solid was most appealing to me because it is a neat and clean aesthetic with mirrors Japanese manga scene borders.*/

/* I selected the pastel colors of pink and blue because they emulate the qualities of delicate, feminine and clean which is what I would describe my artistic style to be.*/


 div {
    border: 0.5rem outset pink;
    border-radius: 12%;
    font: 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    background-color: skyblue;
 }

 

/* This set of code allows for me to determine the size of the borders, the colour of the borders as well as the exact measurements for any margins or padding included within the coding exercise. */

#box-one{
    grid-row: 1/4;
    grid-column: 1/2;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: (3fr,1fr);
}

#box-two{
    grid-row: 1;
    grid-column:1;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    width
}

#box-three {
    grid-row:1/2;
    grid-column:1/2;
}

#box-four {
    grid-row: 1/8;
    grid-column:2;
}

#box-five {
    grid-row: 1;
    grid-column: 3;
}

#box-six {
    grid-row: 1/10;
    grid-column:2;

}

#box-seven {
    grid-row: 3;
    grid-column: 3/4;
}

  

  /* I made sure to use % or fr for my css grid measurements to ensure there were less errors in the overall structure of the squares in my grid that is replicating the intended image (Akira Vol 1-page 167). */