*{
    box-sizing: border-box;
    background-origin: border-box;
    margin: 0;
}

:root{
    --col-01: rgb(232, 15, 15);
    --col-02: lightcoral;
    --col-03: lightpink;
}


#colour-square{
    width: 30vw;
    height: 30vw;
    background-color: #e90606;
    position: absolute;
}

body {
    background: #e90606; 
}

/* Changed the background colour because I felt like it lined up with the colour of raspberries, although you could argue the red could be a bit too bright in some people's opinion. */

p {
    color: black;
    font-family: "fairwater script";
}
       


.adjectives {
    position: absolute;
    left:0%;
    top:0%;
    opacity: 0;
    transition: 2s;
}

.button {
    position: absolute;
    left: 50%;
    top: 0;
    width: 270%;
    height: 80%;
    border: 0;
    outline: none;
    background: #e90606;
}

.img-lidcontain{
    width: 133px;
    height: 81px;
    margin-top: 5%;
    margin-left:140px;
}
.img-bottlecontain{
    width:217px;
    height:171px;
    margin-left:100px;
}
#cap{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottle{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pp {
    position: relative;
    left: 0;
    bottom: 5;
}


/* Because I'm using the word adjectives to describe the words that spray out of the perfume bottle, I must utilise this as the starting word to adjust the position and opacity of the words via the style.css.   */

.img {
    border: solid black;
    transform: translate (30%, 20%) rotate (20deg);
    width: 140%;
    height: 60%;
}


  /* lid open changes opactiy from 1 to 0*/

 .lidopen {
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation-fill-mode: forwards; 
  }
  
  @keyframes fadeOut {
    from { transform: rotate(0deg) translateY(0%) }
  
    to { transform: rotate(90deg) translateY(-20%) }
  }


  .lidclose {
    animation: fadeOut 1s reverse;
    -webkit-animation: fadeOut 1s reverse ;
    -moz-animation: fadeOut 1s reverse;
    -o-animation: fadeOut 1s reverse;
    -ms-animation: fadeOut 1s reverse;
    animation-fill-mode: forwards; 
  }

/* This is the animation and transformation for the bottle lid of the perfume to come off and on. I chose this because I felt like the perfume bottle was most compatible and comfortable for a quick lift up and off the perfume bottle.*/